<!--SOMOS UNA INMOBILIARIA-->
    <section>
    <h2 class="text-center h2 my-4">Al mejor precio de todos</h2>
    <div class="row">
        <div class="col-md-6 bg-orange">
            <p class="text-center align-content-center text-white f-weight-bold py-4 display-6">Somos una inmobilaria que empatizamos con tus ahorros, de manera que puedas obtener la casa de tus sueños sin que nadie te lo arrebate.
                Tenemos desde los precios más economicos hasta los domicilios con piscina 
            </p>
        </div>
        <div class="col-md-6 img-creado">
            
        </div>
    </div>
    </section>
    <!--QUIENES SOMOS-->
    <section class="section row py-5 justify-content-center">
        <h2 class="h2 text-center display-4 col-md-4 d-flex flex-column justify-content-center bg-black text-white mb-0">Quienes somos</h2>
        <p class="text-center align-content-center text-white bg-info f-weight-bold py-4 display-6 col-md-8 mb-0">Somos un grupo de corredores de propiedades que ayudamos a los clientes a cumplir su sueño. ¿Cual sueño?, el sueño de la casa propia. Con nuestras herramientas
           y conocimientos de los ultimos 8 años , te guiaremos en cada uno de los aspectos de tu soñada casa o departamento. Que estas esperando? Unete a nosotros, la familia
           que recorre todas las ciudades de nuestro querido paìs.
        </p>
    </section>
    <!--COMENTARIOS-->
    <section class="section">
        <h2 class="h2 text-center my-4 display-4">Reseñas de nuestros clientes</h2>
        <div class="row justify-content-between">
            <div class="col-md-3 card bg-info rounded">
                <div class="card-body text-center justify-content-center">
                    <h5 class="card-title display-6">Sergio Rodriguez</h5>
                    <h4 class="card-subtitle text-gray-300 fw-bold">Ingeniero civil en minas</h4>
                    <p class="card-text text-white">"Fue una experiencia muy agradable en la busqueda del sueño propio. Agradezco muchisimo a Antonio (corredor de propiedad) por resolver las dudas que tuve. Se los recomiendo
                        mucho!"</p>
                </div>
            </div>     
            <div class="col-md-3 card bg-info rounded">
                <div class="card-body text-center justify-content-center">
                    <h5 class="card-title display-6">Maria Paz</h5>
                    <h4 class="card-subtitle text-gray-300 fw-bold">Maestra de niños</h4>
                    <p class="card-text text-white">"No sabia como empezar a buscar casas, tenia muchas dudas al respecto. Debido a la inflación y la pandemia iba a aplazarlo. Sin embargo, un amigo me comento sobre
                        un grupo de corredores de propiedades, que guia a las personas en busca de casas. Llame y en unos segundos me respondieron. Confirme cita y pasada las semanas, ya encontramos un lugar acogedor
                        y adecuado para mi. Agradecerles chiquillos, son excelentes! . Los recomiendo muchisimo"</p>
                </div>
            </div>
            <div class="col-md-3 bg-info rounded">
                <div class="card-body text-center justify-content-center">
                    <h5 class="card-title display-6">Diego Lopez</h5>
                    <h4 class="card-subtitle text-gray-300 fw-bold">Joven Emprendedor</h4>
                    <p class="card-text text-white">"Es muy atento Don miguel , excelente servicio."</p>
                </div>
            </div>
       
        
        </div>
    </section>